{% extends 'layout.html.twig' %} 

{% block title %} {{ parent() }} {{livre.titre}}{% endblock %} 

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md6 col-lg-12 col-sm-12 mt-3">
            <div class="card">
                <div class="card-horizontal">
                    <div class="img-square-wrapper">
                        <img width="60%" src="{{ asset('photoLivre/' ~ livre.photoCouv) }}">
                    </div>
                    <div class="card-body">
                        <h4 class="card-title my-5">{{ livre.titre }}</h4>
                        <h6>Résumé : {{ livre.resume}}</h6>
                        <h6>Extrait : {{ livre.extrait}}</h6>
                        <h6>Stock : </h6>
                        <h6 class='text-danger'>Prix : {{ produit.prix}}€</h6>
                        <p class="card-text my-3">{{ produit.description}}</p>

                        <a href="{{ path("app_home")}}"><i class="fas fa-arrow-rotate-left text-dark "></i></a>

                        <a href=" {{path("panier_add", {id: produit.id})}}  "><i class="fas fa-basket-shopping text-danger"></i></a>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}